<div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Place</th>
                <th>Age</th>
                <th class="text-center">Response</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td><img src="assets/imgs/changeOfHeart.png"></td>
                <td>Antoine Barault</td>
                <td>Bois-Guillaume, Normandy, France</td>
                <td>27</td>
                <td class="text-center"> <i class=" tim-icons icon-alert-circle-exc"> </i></td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                    <i class="tim-icons icon-single-02"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>